:root {
  --Sora: "Sora", sans-serif;
  --Poppins: "Poppins", sans-serif;
  --dark: #000958;
  --gray: #656689;
}
/* Preparing */
* {
  box-sizing: border-box;
}
body {
  font-family: var(--Poppins);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Sora);
}
img {
  object-fit: cover;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
/* Common */
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: var(--dark);
  border-radius: 31px;
  font-size: 14px;
  font-weight: 600;
  padding: 22px 30px;
  height: 60px;
  cursor: pointer;
}
.button-outline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  padding: 18px 32px;
  height: 50px;
  cursor: pointer;
}
/* Box */
.box {
  text-align: center;
}
.box-desc {
  font-size: 16px;
  font-weight: 600;
  color: #5e6085;
  line-height: 30px;
}
.box-title {
  font-size: 52px;
  font-weight: 700;
  color: var(--dark);
}
.box-desc + .box-title {
  margin-top: 15px;
}
.box-title + .box-desc {
  margin-top: 24px;
}
/* Ending Preparing */
/* Header */
.header {
  padding: 26px 0 71px;
  background-color: #fffaf5;
}
.header-top {
  display: flex;
  align-items: center;
  column-gap: 229px;
}
.navbar ul {
  display: inline-flex;
  column-gap: 36px;
}
.navbar ul a {
  color: var(--gray);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
}
/* Hero */
.hero {
  display: flex;
  align-items: center;
  gap: 120px;
  margin-top: 100px;
}
.hero .hero__image {
  position: relative;
  padding-right: 163px;
  padding-bottom: 94px;
}
.hero__image > img:nth-child(1) {
  position: relative;
  z-index: 1;
  background-color: #fe997b;
  border-radius: 16px;
  width: 388px;
  height: 488px;
  border: 3px solid #ffffff;
}
.hero__image > img:nth-child(2) {
  background-color: #faa7ad;
  border: 2px solid #ffffffa6;
  border-radius: 16px;
  width: 186px;
  height: 244px;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 58px;
}
.hero__image > img:nth-child(3) {
  position: absolute;
  left: -58px;
  bottom: 113px;
}
.hero__image > img:nth-child(4) {
  position: absolute;
  right: 124px;
  top: 17px;
}
.hero .hero__content {
  width: 49%;
}
.hero__content .hero-heading {
  font-size: 66px;
  font-weight: 800;
  line-height: 76px;
  color: var(--dark);
}
.hero__content .hero-desc {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray);
}
.hero .hero-button-row {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  margin-top: 38px;
}
.hero-button-row .button {
  background-color: #ff5b2e;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
}
.hero-button-row .button i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  color: #fd5056;
  background-color: #fffaf5;
  width: 20px;
  height: 20px;
  box-shadow: 4px 3px 10px -1px #bf290066;
  border-radius: 50%;
}
.hero-links {
  color: var(--dark);
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}
.box-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.hero-box {
  position: absolute;
  z-index: 3;
  right: 172px;
  bottom: 0;
  background-color: #ffffff;
  padding: 18px 14px;
  border-radius: 10px;
  width: 250px;
}
.skeleton-long {
  width: 118px;
  height: 4px;
  border-radius: 10px;
  background-color: #ebebf2;
}
.skeleton-short {
  width: 39px;
  height: 4px;
  border-radius: 10px;
  background-color: #ebebf2;
}
.header-box {
  display: inline-flex;
  gap: 10px;
}
.box__desc {
  font-family: var(--Sora);
  font-size: 14px;
  font-weight: 600;
  color: var(--dark);
}
.box-row {
  display: inline-flex;
  flex-direction: column;
  gap: 7px;
}
.hero-line {
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #ebebf2;
  margin: 20px 0;
}
/* Main */
.main {
  background-color: #fffaf5;
}
/* About */
.about {
  padding: 53px 0;
}
.about-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
}
.about-content {
  width: 40%;
}
.about-heading {
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
  color: var(--dark);
}
.about-desc {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray);
}
.about-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 34px;
  column-gap: 36px;
  margin-top: 54px;
}
.about-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: #48496a;
  gap: 10px;
}
.about-item::before {
  display: inline-block;
  content: "";
  background-color: #ff5d31;
  box-shadow: 0px 4px 15px -3px #ff5d31b0;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.about-item::after {
  position: absolute;
  top: 7px;
  left: 6px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 5px;
  border-left: 2px solid #fff2e5;
  border-bottom: 2px solid #fff2e5;
  rotate: -45deg;
}
.about-bg {
  position: relative;
  padding: 0 21px;
}
.about-row {
  display: flex;
  gap: 108px;
  align-items: center;
}
.about-image {
  position: relative;
  padding-left: 92px;
}
.about-box {
  position: absolute;
  z-index: 2;
  background-color: #5bd6e2;
  width: 136px;
  height: 156px;
  left: 0;
  top: 165px;
  box-shadow: -15px 26px 48px 0px #55f0ff2b;
  border-radius: 10px;
  padding: 30px 26px;
  text-align: center;
}
.about-box__head {
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
}
.about-box__desc {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #c6f4f9;
}
.about-bg img:nth-child(1) {
  display: block;
  position: relative;
  z-index: 1;
  width: 450px;
  height: 559px;
}
.about-bg img:nth-child(2) {
  position: absolute;
  top: 157px;
  right: -50px;
}
.about-box img {
  position: absolute;
  top: -39px;
  right: -33px;
}
.about-bg:after {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
  box-shadow: 11px 18px 65px 0px #ff9b791f;
  width: 494px;
  height: 336px;
  display: inline-block;
  bottom: 0;
  right: 0;
}
/* Features */
.features {
  padding: 93px 0 55px;
}
.features-wrap {
  display: flex;
  gap: 85px;
}
.features-heading {
  font-size: 52px;
  font-weight: 700;
  color: var(--dark);
  line-height: 62px;
}
.features-desc {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--gray);
  width: 511px;
}
.features-image {
  position: relative;
  padding-right: 42px;
  padding-bottom: 55px;
}
.features-image img:nth-child(1) {
  width: 458px;
  height: 500px;
  background-color: #c1dff8;
  border: 2px solid #ffffff;
  border-radius: 16px;
}
.features-image img:nth-child(2) {
  position: absolute;
  top: 13px;
  right: 105px;
}
.features-image img:nth-child(3) {
  position: absolute;
  top: -16px;
  right: 55px;
}
.features-image img:nth-child(4) {
  position: absolute;
  top: 33px;
  right: 21px;
}
.features-image img:nth-child(5) {
  position: absolute;
  top: 268px;
  right: 9px;
}
.features-image img:nth-child(6) {
  position: absolute;
  top: 336px;
  right: 61px;
}
.features-image img:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}
.features-row .item {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.features-content {
  margin-top: 52px;
}
.features-row {
  position: relative;
  margin-top: 52px;
  display: inline-flex;
  align-items: center;
  gap: 56px;
  padding-bottom: 14px;
}
.icon-img {
  width: 20px;
  height: 20px;
}
.icon-desc {
  font-family: var(--Sora);
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  color: #48496a;
}
.sub-desc {
  font-size: 14px;
  margin-top: 36px;
  width: 391px;
}
.features-line {
  width: 100%;
  background-color: #ffefe7;
  height: 2px;
}
.features-row::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  background-color: #ff5b2e;
  display: inline-block;
  width: 95px;
  height: 2px;
}
.features-link {
  display: inline-block;
  margin-top: 32px;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  color: #ff5d31;
}
/* Services */
.services {
  padding-top: 68px;
  padding-bottom: 100px;
  background-color: #fff6ed;
}
.item-title a {
  display: inline-block;
  padding-left: 12px;
  font-family: var(--Sora);
  font-size: 22px;
  font-weight: 600;
  color: var(--dark);
}
.item-title {
  position: relative;
}
.item-title::before {
  position: absolute;
  display: inline-block;
  height: 22px;
  width: 2px;
  content: "";
  left: 0;
  bottom: 0;
  background-image: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
}
.item-sub-title {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
  margin-top: 18px;
  line-height: 24px;
}
.item-link {
  font-family: var(--Sora);
  font-size: 12px;
  font-weight: 500;
  color: #34396a;
  margin-top: 24px;
  display: inline-block;
}
.services-item + .services-item {
  margin-top: 24px;
}
.services-item {
  width: 294px;
  padding: 30px 22px 30px 28px;
  border: 2px solid #ffbc7a42;
  border-radius: 10px;
  background-color: #ffffff;
}
.services-img-column::after {
  position: absolute;
  bottom: 101px;
  right: 50%;
  transform: translateX(50%);
  width: 410px;
  height: 350px;
  content: "";
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
  display: inline-block;
}
.services img {
  position: relative;
  z-index: 1;
  width: 447px;
  height: 621px;
}
.services-row {
  margin-top: 71px;
  display: flex;
  gap: 64px;
}
.services-button {
  margin-top: 45px;
  border-color: #ff5b2e;
  color: #ff5b2e;
}
.services-img-column {
  position: relative;
  text-align: center;
}
.services-link {
  display: inline-flex;
  gap: 6px;
  align-items: flex-end;
}
.services-link i {
  color: #ff5b2e;
}
/* Team */
.team {
  padding: 130px 0;
}
.team-row {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}
.member-image {
  width: 234px;
  height: 299px;
  display: block;
  border-radius: 130px;
}
.member-name {
  white-space: nowrap;
  margin-top: 14px;
  font-size: 22px;
  font-weight: 600;
  color: var(--dark);
}
.member-job {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}
.member-content {
  text-align: center;
  padding: 34px 0px;
}
.team-button .button-outline {
  margin-top: 48px;
  border-color: #ff5b2e;
  color: #ff5b2e;
  margin: 0 auto;
}
.team-button {
  text-align: center;
}
.member-media {
  position: relative;
}
.member-media img:first-child {
  z-index: 1;
  position: relative;
}
.member-media::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 234px;
  height: 266px;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  border-radius: 130px;
}
.media-2::after {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.media-3::after {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.media-4::after {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.decoration {
  position: absolute;
  left: -16px;
}
.decor-1,
.decor-3 {
  bottom: 0;
}
.decor-2,
.decor-4 {
  top: 33px;
}
/* Pricing */
.pricing {
  padding: 86px 0;
}
.pricing-desc {
  width: 709px;
  margin: 0 auto;
}
/* Switch Button */
.pricing-container {
  width: 994px;
}
.pricing-switch {
  position: relative;
  margin-top: 38px;
}
.pricing-switch-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ff5b2e;
  border-radius: 31px;
  padding: 20px 40px;
  width: 276px;
  height: 56px;
  user-select: none;
  cursor: pointer;
  margin: 0 auto;
}
.sale-off {
  position: absolute;
  right: -111px;
  top: -10px;
}
.pricing-switch-button::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 140px;
  height: 100%;
  background-color: #ff5b2e;
  border-radius: 31px;
}
.switch-value {
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}
.pricing-input:checked + .pricing-switch-button::after {
  right: 0;
  left: auto;
}
.pricing-input:checked + .pricing-switch-button .switch-value:nth-child(1),
.pricing-input:not(:checked)
  + .pricing-switch-button
  .switch-value:nth-child(2) {
  color: #ff5b2e;
}
/* Pricing-row */
.pricing-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 56px;
  gap: 44px;
}
.pricing-heading {
  font-size: 12px;
  font-weight: 400;
  color: #ff5b2e;
}
.pricing-item {
  padding: 30px 28px 43px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 20px 44px 0px #c36c160f;
}
.pricing-item__title {
  font-family: Sora;
  font-size: 18px;
  font-weight: 600;
  color: #3f4065;
  margin-top: 8px;
}
.pricing-item__cost {
  margin-top: 24px;
  font-size: 33px;
  font-weight: 700;
  color: var(--dark);
}
.pricing-item__button {
  margin-top: 22px;
  border-color: #ff5b2e;
  color: #ff5b2e;
  width: 100%;
}
.pricing-item__info {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-top: 24px;
}
.info-item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
  padding-left: 26px;
}
.info-item::before {
  position: absolute;
  display: inline-block;
  left: 0;
  content: "";
  width: 10px;
  height: 5px;
  border-bottom: 1px solid #ff5b2e;
  border-left: 1px solid #ff5b2e;
  rotate: -45deg;
}
.blur::before {
  border-color: #ff5b2e66;
}
